/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root{
    font-size: 13px;
}
.container {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

span, a {
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: black;
}

.about-content>span, .menu>span, .rsvp>span, .testimonials>span{
    color: #ff8800;
}

p{
    max-width: 50rem;
    font-size: 1.2rem;
    line-height: 1.9rem;
    white-space: pre-line;
    margin-bottom: 1.5rem;
}

.dots{
    text-align: center;
    font-size: 3rem;
    color: #f5b76f;
    margin-top: -4rem;
}

.dots b{
    font-size: 6rem;
    color: #ff8800;
}

.scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
}

.scroll .arrows{
    width: 3rem;
    min-height: 25%;
}


/******************************************
/* HEADER + MAIN
/*******************************************/
main {
    max-width: 100%;
    min-height: 50rem;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2rem;
    max-width: 100%;
    min-height: 3.5rem;
    background-color: #f6e0e2;
    opacity: .85;
    padding-right: 3rem;
    position: relative;
}

ul{
    display: flex;
    column-gap: 2rem;
}

/* THE NAV ICONS */
.logo img{
    display: flex;
    justify-self: flex-start;
    width: 3.5rem;
    padding: .5rem;
}

.logo-mobile{
    display: none;
}


.hamburger{
    display: none;
}

.home{
    display: none;
}

.nav-icon{
    width: 2rem;
}

.mainIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 13% 0 10% 10%;
}

h1{
    max-width: 40%;
    font-size: clamp(3rem, .25rem + 4vw, 4rem);
}

input{
    margin: 1.5rem 0;
}

input[type="text"]{
    width: 23rem;
    height: 2.5rem;
    color: #5f5d5d;
    background: white;
    border: .3px solid lightgray;
    border-radius: .35rem;
    border: none;
    font-size: .8rem;
    padding-left: 1.5rem;
    box-shadow: 0 13px 11px 7px rgba(0, 0, 0, 0.05);
  }

  input[type="button"]{
    width: 6.5rem;
    height: 2.5rem;
    color: white;
    background: #ff8800;
    border: .1px solid lightgray;
    border-radius: .35rem;
    border: none;
    font-size: .8rem;
    text-align: center;
    margin-left: -1rem;
  }

  .socialMedia{
    align-items: center;
    max-width: .08rem;
    margin-top: 1rem;
  }

  li > span{
    margin: 1rem 2.5rem 0 -1.5rem;
    font-size: 1rem;
  }


/******************************************
/* ABOUT US
/*******************************************/
.aboutUs{
    display: flex;
    flex-direction: column;
    padding: 10% 20% 10% 25%;
    max-width: 100%;
    min-height: 25rem;
    position: relative;
}

.about-hero{
    display: none;
}

.aboutUs:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url(img/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-start;
}

.about-content{
    position: relative;
}

h2{
    max-width: 75%;
    font-size: clamp(2.5rem, .25rem + 4vw, 4rem);
    padding-bottom: 2rem;
    padding-top: 1rem;
    white-space: pre-line;
}

.aboutUs a{
    width: 9.5rem;
    height: 3rem;
    color: white;
    background: #ff8800;
    border: .1px solid lightgray;
    border-radius: .35rem;
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
    z-index: 10;
    border: none;
}


/******************************************
/* MENU
/*******************************************/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7e3e277;
    max-width: 100%;
    min-height: 100%;
    padding: 5% 7%;
}

.menu h2, .rsvp h2{
    text-align: center;
    padding-bottom: 3rem;
}

.meals{
    border-bottom: .5px solid rgba(184, 182, 182, 0.673);
    padding-bottom: 1rem;
    
}

.menuGallery{
    flex-flow: row wrap;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 4% 0 0 10%;
}

.menuGallery img{
    width: 20%;
    margin: 1.5% 0 0 1.5%;
}

/******************************************
/* RSVP
/*******************************************/

.rsvp{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 4rem 0;
    background-image: url(img/book-table-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.rsvp h2{
    text-align: center;
    padding-bottom: 3rem;
}

.phoneIcon{
    max-width: 3rem;
    padding-bottom: 1rem;
}

.rsvp .callNow, .dates{
    color: black;
    padding-bottom: .5rem;
}

.phone{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    padding-bottom: 2rem;
}

.rsvp .dates > li > span{
    font-size: 1.2rem;
}

.rsvp .times > li > span{ 
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.dates li > span:nth-child(1){
    margin-left: -1.8rem;
}

.hours-mobile{
    display: none;
}

.carousel{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 10rem;
}

.carousel img{
    max-width: 60%;
    min-height: 25%;
    margin: 0 8%;
}


/******************************************
/* TESTIMONIALS
/*******************************************/

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 4rem 0;
}

.testimonials img{
    width: 7rem;
    padding: 1.2rem 0;
}

.testimonials p{
    max-width: 50%;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: center;
   
}

h4{
    font-size: 2.2rem;
    font-size: clamp(1rem, .5rem + 2vw, 1.7rem);
}

.testimonials span:nth-of-type(2){
    color: gray;
    padding-top: .5rem;
}

/******************************************
/* MEDIA QUERY-PHONE
/*******************************************/
@media screen and (max-width: 748px){
    
    /* -----------NAV--------------- */
    nav{
        display: none;
    }

    header{
        width: 100%;
        height: 4rem;
        margin: .5px auto;
    }

    .nav-icon, .hamburger{
        display: flex;
        width: 2rem;
        z-index: 10;
        margin-left: auto;
    }

    .nav-icon{
        /* margin-left: auto; */
        display: none;
    }

    .logo{
        display: none;
    }

    .home{
        display: flex;
        width: 2.5rem;
        margin-left: 2.5rem;
    }

 /* -----------MAIN--------------- */
    main {
        max-width: 100%;
        min-height: 100%;
        background-image: url(img/hero-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .logo-mobile{
        display: inline-block;
        width: 15%;
        padding-bottom: 1rem;
    }
 
    .mainIntro{
        padding: 15% auto;
    }

    h1{
        line-height: 2.8rem;
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    input[type="text"]{
        width: 16rem;
        height: 3rem;
    }
    
    input[type="button"]{
        width: 6rem;
        height: 3rem;
    }

    .socialMedia{
        display: none;
    }

  /* -----------ABOUT--------------- */

    .aboutUs:before{
        background: none;
    }

    .about-hero{
        display: block;
        z-index: 10;
        max-width: 100%;
        padding-bottom: 1rem;
    }
    .aboutUs a{
        margin: 0 auto;
    }

    /* -----------MENU--------------- */
    .meals{
        display: none;
    }
        
    .menuGallery{
        margin: 3% 0 6% 0;
    }

    .menuGallery img{
        width: 45%;
        margin: 1.5% 0 0 1.5%;
    }

   

    /* -----------RSVP--------------- */
    .rsvp .carousel .arrows{
        display: none;
    }

    .rsvp .carousel img{
        max-width: 35rem;
    }

    .callNow{
        display: none;
    }

    .phoneIcon{
        width: 2.5rem;
        margin-top: -1.2rem;
    }

    .dates, .times{
        display: none;
    }
    
    .hours-mobile{
        display: block;
        margin-left: 4rem;
    }
    /* HOURS  */
    .container .rsvp .hours-mobile li span{
        font-size: 1.2rem;
        padding-bottom: 3rem;
    }

     /* -----------RSVP--------------- */
    .testimonials p{
        padding-bottom: 3rem;
    }

    .arrows{
        display: none;
    }

}

/******************************************
/* MEDIA QUERY-TABLET
/*******************************************/

@media (min-width: 748px) and (max-width: 1070px){
    .container{
        width: 100%;
    }

    /* -----------ABOUT---------------- */
    .aboutUs:before{
        opacity: .20;
    }

    .about-hero{
        display: block;
        z-index: 10;
        max-width: 100%;
        padding-bottom: 1rem;
    }

    p{
        max-width: 100%;
        font-size: 1.2rem;
        line-height: 1.9rem;
    }

    .aboutUs a{
        z-index: 10;
        margin: 0 auto;
    }  

    /* -----------MENU------------- */
    .menuGallery img{
        width: 45%;
        margin: 1.5% 0 0 0%;
    }

    /* -----------RSVP------------- */
    .dates, .times{
        display: inline-block;
    }
    
    .hours-mobile{
        display: none;
    }

    .rsvp .carousel img{
        max-width: 45rem;
    }
}

/******************************************
/* MEDIA QUERY-WIDE SCREEN
/*******************************************/
@media (min-width: 1071px){
  
    .aboutUs{
        padding: 10% 20% 10% 35%;
    }
    
}